<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h3>Users</h3>

            <div *ngIf="users.length > 0">
                <table class="table table-bordered">
                    <tr>
                        <th width="10%">First Name</th>
                        <th width="10%">Last Name</th>
                        <th width="15%">Email</th>
                        <th width="10%">Roles</th>
                        <th width="10%"></th>
                        <th width="10%"></th>
                    </tr>

                    <tr *ngFor="let user of users">
                        <td>
                            {{ user.firstName }}
                        </td>
                        <td>
                            {{ user.lastName }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {{ user.role.name }}
                        </td>
                        <td>
                            <a routerLink="/users/{{user.id}}/edit" class="btn-primary">Update</a>
                        </td>
                        <td>
                            <a (click)="deleteUser(user.id)" class="btn btn-block">
                                Delete
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="text-center">
                <button routerLink="/users/add" class="btn btn-info">Add</button>
            </div>

            <div *ngIf="users.length == 0" class="alert alert-warning col-md-12" role="alert">
                No users.
            </div>
        </div>
    </div>
</div>