<div class="login-status-header"> 
    <div *ngIf="auth.user$ | async as user " class="login-status-user-info">
        Welcome back {{ user.name }}
    </div>

    <button *ngIf="auth.isAuthenticated$ | async" (click)="logout()" class="security-btn">
        Logout
    </button>

    <button *ngIf="(auth.isAuthenticated$ | async) === false" (click)="login()" class="security-btn">
        Login
    </button>

    <button *ngIf="auth.isAuthenticated$ | async" routerLink="/members" class="security-btn ml-1">
        Members
    </button>
    
</div>
