<div class="login-status-header"> 
    <div *ngIf="auth.user$ | async as user " class="login-status-user-info">
        Welcome
    </div>

    <button *ngIf="auth.isAuthenticated$ | async" (click)="logout()" class="au-btn-submit">
        {{ env.bugTextButtonLogout }}
    </button>

    <button *ngIf="(auth.isAuthenticated$ | async) === false" (click)="login()" class="au-btn-submit">
        Login
    </button>

    <button *ngIf="auth.isAuthenticated$ | async" routerLink="/members" class="au-btn-submit">
        {{ env.bugTextButtonMembers }}
    </button>
    
    <button *ngIf="auth.isAuthenticated$ | async" routerLink="/order-history" class="au-btn-submit">
        {{ env.bugTextButtonOrders }}
    </button>

</div>
