<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ecommerce Shop Manual</title>
</head>
<body>
<div class="container">
  <h1>Ecommerce Shop Manual</h1>
  <div class="chapter">
    <h2>Introduction</h2>
    <p><strong>Basic information</strong></p>
    <p>The proposed e-commerce shop (hereinafter referred to as the shop) available for testing offers the possibility to purchase goods in 4 categories:</p>
    <ul>
      <li>Books</li>
      <li>Coffee mugs</li>
      <li>Luggage tags</li>
      <li>Mouse Pads</li>
    </ul>
    <p>Selected items can be ordered to a limited number of countries, the list of which should be visible during the checkout screen. These countries are: Brazil, Canada, Germany, Turkey, India, United States. The mentioned countries are fully supported, meaning that orders can be shipped to any part of the specified countries.</p>
    <p>Each user of the online store is assigned one specific role out of three: USER, STAFF, ADMIN. An unregistered user is treated as having the USER role. Details about the permissions and capabilities of users with each role will be described in the following chapters.</p>
  </div>

  <div class="chapter">
    <h2>Note</h2>
    <div class="note">
      <p><span class="important">Note:</span> As soon as you notice any bug while testing the system, immediately click the red "<span class="red-button">Declare bug</span>" button located in the left panel of the screen. This will help us understand that you have noticed incorrect behavior.</p>
    </div>
  </div>

  <div class="chapter">
    <h2>User Authentication</h2>
    <p><strong>Login</strong></p>
    <p>Upon entering the main page of the online store, a user who wishes to log in or create an account should click the "<strong>Login</strong>" button located at the top of the page.</p>
    <p>In the opened window:</p>
    <ul>
      <li>If a person has an account in the system, they should log in by entering their email and password in the appropriate fields or by using a Google account, by clicking the appropriate button, which will direct the user to the authentication procedure provided by Google.</li>
      <li>If the user does not have an account in the system of the tested shop, they should click on the "<strong>Sign up</strong>" button and create an account in the shop's domain by entering their email and a chosen password in the appropriate fields or by choosing the option to create an account using Google. Each new user is assigned the USER role.</li>
    </ul>
    <div class="info">
      <p><strong>Existing Test Accounts:</strong></p>
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>staff.test@mail.com</td>
            <td>staffTest_1</td>
            <td>STAFF</td>
          </tr>
          <tr>
            <td>andrew.tests3@mail.com</td>
            <td>andrewTest_3</td>
            <td>USER</td>
          </tr>
          <tr>
            <td>vasyl.petrenko@mail.com</td>
            <td>vasylPetrentko_12</td>
            <td>USER</td>
          </tr>
          <tr>
            <td>test123@gmail.com</td>
            <td>TestPassword12_</td>
            <td>ADMIN</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="chapter">
    <h2>Browsing Products</h2>
    <p>On the main store page, products are presented by categories. The following basic information about the product should be displayed there:</p>
    <ol>
      <li>Name</li>
      <li>Sample product image</li>
      <li>Price</li>
    </ol>
    <p>Under each product, there is a button "<strong>Add to cart</strong>" which adds the product to the cart with a quantity of 1 piece.</p>
    <p>By default, 10 products can be viewed on one page. The user can change this number by selecting the desired quantity from the dropdown labeled "<strong>Page size</strong>". Possible options are 5, 10, 20, 50.</p>
    <p>To navigate to the next page of products, the user should click on the page number or arrow in the list of available pages at the bottom of the screen.</p>
    <p>In the left part of the page, there is a list of current product categories. Currently, the store has 4 categories of products:</p>
    <ul>
      <li>Books</li>
      <li>Coffee mugs</li>
      <li>Luggage tags</li>
      <li>Mouse Pads</li>
    </ul>
    <p>The default category for browsing products is books. To change the category, the user should click on the name of the desired category on the list in the left sidebar.</p>
    <p>Additionally, there is an option to view detailed information about a selected product. To do this, the user should click on the image or name of the product of interest. It should open a page containing a detailed description of the product.</p>
    <p>The page with a detailed product description also includes an "<strong>Add to cart</strong>" button, allowing the user to add the product to the cart. This button is located at the bottom of the screen.</p>
  </div>

  <div class="chapter">
    <h2>Searching Products</h2>
    <p>To search for a desired product, the user should enter a known part of the product name in the search panel located at the top of the screen and labeled with the text "<em>Search for products &hellip;</em>", then click the "<strong>Search</strong>" button or press <strong>Enter.</strong></p>
    <p>If there are any products with names that partially match the entered text, a list of these products should be displayed on the screen. Otherwise, the user should see a message informing them that such products do not exist.</p>
  </div>

  <div class="chapter">
    <h2>Order History</h2>
    <p>The option to check the order history is only available for registered and logged-in users.</p>
    <p>To view the order history, a logged-in user, while on the main store page, should click the "<strong>Orders</strong>" button. After that, a page containing basic information about all the orders placed by the user will be opened.</p>
    <p>The following fields should be displayed precisely in the form of table columns:</p>
    <ol>
      <li>Order Tracking Number</li>
      <li>Total Price</li>
      <li>Total Quantity</li>
      <li>Order Placement Date</li>
    </ol>
    <p>If the user has not placed any orders, upon accessing the Orders page, a message indicating the absence of orders will be displayed.</p>
  </div>

  <div class="chapter">
    <h2>Members Page</h2>
    <p>The Members page allows users to check discounts and/or promotions available to a specific user. This option is available only for registered and logged-in users.</p>
    <p>By clicking the "<strong>Members</strong>" button, the user is redirected to a page with information about the discounts granted to them or their absence.</p>
    <p>Discounts are granted as follows:</p>
    <ul>
      <li>Every new user receives a <strong>10%</strong> discount.</li>
      <li>For every 5 orders (except every 10th order), the user receives a <strong>30%</strong> discount. This means the user will have a 30% discount on the 5th, 15th, 25th order, and so on.</li>
      <li>For every 10 orders, the user receives a <strong>50%</strong> discount. This means the user will have a 50% discount on the 10th, 20th, 30th order, and so on.</li>
    </ul>
  </div>

   <div class="chapter">
    <h2>Cart Details</h2>
    <p>In the top right corner of the screen, the user can see the number of products currently in their cart and their total value in US dollars.</p>
    <p><strong>Important:</strong> If any discount is available for the user, it is automatically applied to the current order. Consequently, the total value of products in the user's cart will be reduced by the percentage of the available discount. This reduced value will be displayed in the top right corner of the screen.</p>
    <p>To view detailed information about the products currently in the cart, the user should click on the <strong>shopping cart icon</strong> located in the top right corner of the store interface.</p>
    <p>Upon clicking the cart icon, a page will be displayed containing the following information in the form of a table:</p>
    <ol>
      <li><span class="highlight">Product Image</span></li>
      <li><span class="highlight">Name and price of each item</span></li>
      <li><span class="highlight">Quantity of specific items in the cart</span></li>
    </ol>
    <p>The Cart Details interface allows users to remove products from the cart, increase or decrease the quantity of specific items in the cart.</p>
    <p>Additionally, information about the total quantity of items in the cart, the total cost of items, and the shipping cost is displayed on a separate row for the user.</p>
    <p>If a discount is applied to the order, information about it will also be displayed.</p>
  </div>

  <div class="chapter">
    <h2>Completing an Order</h2>
    <p>To complete an order, the user should go to the Checkout page by clicking the <strong>Checkout</strong> button located in the bottom right corner of the Cart Details page, fill in all the required fields, and click the <strong>Purchase</strong> button.</p>
    <p>All fields on the Checkout page are required to be filled, with:</p>
    <ul>
      <li>The customer's email automatically filled in for registered users, with the option to change its value</li>
      <li>The Expiration Month and Expiration Year of the credit card automatically filled with the current year and month, with the option to change</li>
    </ul>
    <p>Restrictions on some fields:</p>
    <ul>
      <li>The email field value should be a valid email, which must be checked with appropriate regular expressions in the code</li>
      <li>The values of the <span class="highlight">First name</span> field should be at least <span class="restriction">{{defaultFirstNameMinLength}}</span> characters long</li>
      <li>The values of the <span class="highlight">Last name</span> field should be at least <span class="restriction">2</span> characters long</li>
      <li>The values of the <span class="highlight">Street</span> fields should be at least <span class="restriction">{{defaultShippingAddressStreetMinLength}}</span> characters long</li>
      <li>The values of the <span class="highlight">City</span>, and <span class="highlight">Zip code</span> fields should be at least <span class="restriction">2</span> characters long</li>
      <li>The <span class="highlight">Country</span> field value is selected from the list of available countries. These are the following countries: Brazil, Canada, Germany, Turkey, India, United States.</li>
      <li>The selection of the <span class="highlight">State</span> field value is only possible after choosing the Country. State is selected from the list of regions of the respective country</li>
      <li>The <span class="highlight">Cart type</span> field value is selected from two available options: Mastercard and Visa</li>
      <li>The <span class="highlight">Name on card</span> field value should be at least <span class="restriction">2</span> characters long</li>
      <li>The values of the <span class="highlight">Security code</span> and <span class="highlight">Card number</span> fields should contain only numeric characters</li>
      <li>The <span class="highlight">Security code</span> field value should have <span class="restriction">3</span> characters</li>
      <li>The <span class="highlight">Card number</span> field value should have <span class="restriction">16</span> characters</li>
    </ul>
    <p>If the restrictions for the fields are not met, the user will be shown an appropriate message.</p>
    <p>Checking the checkbox labeled "<em>Billing Address same as Shipping Address</em>" automatically fills the <em>Billing Address</em> section with values identical to the values of the fields in the Shipping Address section</p>
  </div>

  <div class="chapter">
    <h2>Adding, Editing, and Deleting Products</h2>
    <div class="section">
      <h3>Adding a New Product</h3>
      <p>The functionality of adding a new product is available only to users with ADMIN or STAFF roles.</p>
      <p>To add a new product, the user should click on the "<span class="highlight">Add new product</span>" button located in the left panel of the screen, fill in all the required fields in the displayed form, and confirm the form by clicking the "<span class="highlight">Add</span>" button.</p>
      <p>All fields on the new product adding page are required to be filled, with:</p>
      <ul>
        <li>The product category being selected from a dropdown list containing names of all categories currently available in the system.</li>
        <li>The <span class="highlight">Unit price</span> and <span class="highlight">Units in stock</span> fields are automatically filled with zeros.</li>
        <li>The <span class="highlight">Active</span> field is set to <span class="highlight">False</span> by default.</li>
      </ul>
      <p>Restrictions on some fields:</p>
      <ul>
        <li>The values of the <span class="highlight">Name</span> field should be at least <span class="restriction">{{defaultProductNameMinLength}}</span> characters long.</li>
        <li>The values of the <span class="highlight">Sku</span>, <span class="highlight">Image URL</span>, and <span class="highlight">Description</span> fields should be at least <span class="restriction">2</span> characters long.</li>
        <li>The value of the <span class="highlight">Units in stock</span> field should be a natural number.</li>
        <li>The value of the <span class="highlight">Unit price</span> field should be a number greater than or equal to zero.</li>
      </ul>
      <p>If the restrictions for the fields are not met, the user will be shown an appropriate message. In case of failure to add a new product, the user will be shown an appropriate message.</p>
    </div>

    <div class="section">
      <h3>Editing an Existing Product</h3>
      <p>The functionality of editing an existing product is available only to users with ADMIN or STAFF roles.</p>
      <p>To update information about an existing product, the user should navigate to the page containing detailed information about that product, click on the "<span class="highlight">Update product</span>" button, fill in all the required fields in the product editing form, and then confirm the form by clicking the "<span class="highlight">Edit</span>" button.</p>
      <p>All fields in the product editing form are automatically filled with the current values for that product, with the option to change them. The editing form is identical to the adding form. Therefore, the requirements and restrictions for the fields in the editing form repeat the requirements for the fields in the adding form.</p>
      <p>If the restrictions for the fields are not met, the user will be shown an appropriate message. In case of failure to update the product information, the user will be shown an appropriate message.</p>
    </div>

    <div class="section">
      <h3>Deleting an Existing Product</h3>
      <p>The functionality of deleting an existing product is available only to users with ADMIN or STAFF roles.</p>
      <p>To delete an existing product, the user should navigate to the page containing detailed information about that product and click on the "<span class="highlight">Delete product</span>" button.</p>
      <p>In case of failure to delete the product, the user will be shown an appropriate message.</p>
    </div>
  </div>

  <div class="chapter">
    <h2>Adding, Editing, and Deleting Categories</h2>
    <div class="section">
      <h3>Adding a New Category</h3>
      <p>The functionality of adding a new category is available only to users with ADMIN or STAFF roles.</p>
      <p>To add a new category, the user should click the "<span class="highlight">Add new category</span>" button located in the left panel of the screen, enter the name of the new category in the appropriate field of the form, and confirm the form by clicking the "<span class="highlight">Add</span>" button.</p>
      <p>The form for adding a new category contains only one field, "<span class="highlight">New Category name</span>," with:</p>
      <ul>
        <li>It is required to be filled.</li>
        <li>The value of the field should contain at least <span class="restriction">2</span> non-empty characters.</li>
        <li>The value of the field should be different from the names of other product categories already existing in the system.</li>
      </ul>
      <p>If the restrictions for the field are not met, the user will be shown an appropriate message. In case of failure to add a new category, the user will be shown an appropriate message.</p>
    </div>

    <div class="section">
      <h3>Editing an Existing Category</h3>
      <p>The functionality of editing a category is available only to users with ADMIN or STAFF roles.</p>
      <p>To edit categories, the user should click the "<span class="highlight">Edit category</span>" button located in the left panel of the screen, fill in the required fields of the form, and confirm the form by clicking the "<span class="highlight">Edit</span>" button.</p>
      <p>The form for editing a category contains two fields, both of which are mandatory, with:</p>
      <ul>
        <li>The "<span class="highlight">Current Category Name</span>" field is filled by choosing from a dropdown list containing names of all product categories currently supported by the system.</li>
        <li>The "<span class="highlight">New Category name</span>" field should contain at least <span class="restriction">2</span> non-empty characters, and its value should not repeat the name of existing categories.</li>
      </ul>
      <p>If the restrictions for the field are not met, the user will be shown an appropriate message. In case of failure to edit the category, the user will be shown an appropriate message.</p>
    </div>

    <div class="section">
      <h3>Deleting an Existing Category</h3>
      <p>The functionality of deleting a category is available only to users with ADMIN or STAFF roles.</p>
      <p>To delete categories, the user should click the "<span class="highlight">Delete category</span>" button located in the left panel of the screen, select the category to delete, and confirm by clicking the "<span class="highlight">Delete</span>" button.</p>
      <p><strong>Note:</strong> Deleting a category will also delete all products in that category.</p>
      <p>The form for deleting a category contains only one field, "<span class="highlight">Current Category name</span>," with:</p>
      <ul>
        <li>The field is mandatory.</li>
        <li>The field is filled by choosing from a dropdown list containing names of all product categories currently supported by the system.</li>
      </ul>
      <p>If the restrictions for the field are not met, the user will be shown an appropriate message. In case of failure to delete the category, the user will be shown an appropriate message.</p>
    </div>
  </div>

  <div class="chapter">
    <h2>User Management</h2>
    <div class="section">
      <h3>User Management Overview</h3>
      <p>The functionality of user management is available only to users with an ADMIN role.</p>
      <p>To access the user management panel, the admin should click the "<span class="highlight">User management</span>" button located in the left panel of the screen.</p>
      <p>On the displayed page, a full list of all system users will be shown along with the following information about them:</p>
      <ul>
        <li><span class="highlight">First Name</span></li>
        <li><span class="highlight">Last Name</span></li>
        <li><span class="highlight">Email Address</span></li>
        <li><span class="highlight">Role</span></li>
      </ul>
      <p>Email address and role are essential pieces of information for each user.</p>
    </div>

    <div class="section">
      <h3>Adding a User</h3>
      <p>To add a user, the admin should click the "<span class="highlight">Add</span>" button located at the bottom of the account management panel, fill in the user addition form, and confirm it by clicking the "<span class="highlight">Add</span>" button at the bottom of the form.</p>
      <p>The user addition form contains 4 fields: <span class="highlight">First name</span>, <span class="highlight">Last name</span>, <span class="highlight">Email</span>, and <span class="highlight">Role</span>, with:</p>
      <ul>
        <li>The email field is mandatory.</li>
        <li>The value of the email field must be a valid email address, which is checked using appropriate regular expressions.</li>
        <li>Values of the <span class="highlight">First name</span> and <span class="highlight">Last name</span> fields should be at least <span class="restriction">2</span> characters long.</li>
        <li>The <span class="highlight">Role</span> field is filled by choosing from a dropdown list containing all possible roles currently supported in the system.</li>
      </ul>
      <p>If the restrictions for the field are not met, the user will be shown an appropriate message. In case of failure to add a user, the user will be shown an appropriate message.</p>
    </div>

    <div class="section">
      <h3>Editing a User</h3>
      <p>To update user information, the admin should click the "<span class="highlight">Update</span>" button located in the respective row of the user table, fill in the user editing form, and confirm it by clicking the "<span class="highlight">Edit</span>" button at the bottom of the form.</p>
      <p>The user editing form contains 4 fields: <span class="highlight">First name</span>, <span class="highlight">Last name</span>, <span class="highlight">Email</span>, and <span class="highlight">Role</span>. The form is automatically filled with the current user data with the option to change them. Additionally:</p>
      <ul>
        <li>The email field is mandatory.</li>
        <li>The value of the email field must be a valid email address, which is checked using appropriate regular expressions.</li>
        <li>Values of the <span class="highlight">First name</span> and <span class="highlight">Last name</span> fields should be at least <span class="restriction">2</span> characters long.</li>
        <li>The <span class="highlight">Role</span> field is filled by choosing from a dropdown list containing all possible roles currently supported in the system.</li>
      </ul>
      <p>If the restrictions for the field are not met, the user will be shown an appropriate message. In case of failure to edit a user, the user will be shown an appropriate message.</p>
    </div>

    <div class="section">
      <h3>Deleting a User</h3>
      <p>To delete a user, the admin should click the "<span class="highlight">Delete</span>" button located in the respective row of the user table.</p>
      <p><span class="important">Note:</span> Deleting a user will permanently remove their data from the system, and this action cannot be undone.</p>
      <p>In case of failure to delete a user, the user will be shown an appropriate message.</p>
    </div>
  </div>

</div>
</body>
</html>



