<table class="table table-striped">
  <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Units in Stock</th>
      </tr>
  </thead>

  <tbody>
    <tr *ngFor="let tempProduct of products">
      <th class="align-middle">
        <img src="{{ tempProduct.imageUrl}}" height="50"/>
      </th>
      <th class="align-middle"> {{ tempProduct.name }}</th>
      <th class="align-middle"> {{ tempProduct.unitPrice | currency:'USD'}}</th>
      <th class="align-middle"> {{ tempProduct.unitsInStock}}</th>
    </tr>
  </tbody>
</table>

