<ul *ngIf="hasRightsForProductManagement()" class="nav flex-column">   
    <li class="nav-item">
        <button class="au-btn-submit" routerLink="/add/product">Add new product</button>
    </li>
    <li class="nav-item">
        <button class="au-btn-submit" routerLink="/add/category">Add new category</button>
    </li>
    <li class="nav-item">
        <button class="au-btn-submit" routerLink="/edit/category">Edit category</button>
    </li>
    <li class="nav-item">
        <button class="au-btn-submit" routerLink="/delete/category">Delete category</button>
    </li>
    <li *ngIf="hasRightsForUserManagement()" class="nav-item">
        <button class="au-btn-submit" routerLink="/users">User managment</button>
    </li>
</ul>

